@media screen and (min-width:1300px){
    .hero_slider {
        width: 70%;
        margin: 0 auto;
    }

    .swiper {
    width: 100%;
    height: 600px;
    margin: 30px 0;
    }

    .swiper-slide {
        position: relative;
    }

    .swiper-slide > p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-weight: bolder;
        font-size: 50px;
        text-shadow:2px 2px 0 black, -2px -2px 0 black,
                -2px 2px 0 black, 2px -2px 0 black,
                0px 2px 0 black,  0-2px 0 black,
                -2px 0 0 black, 2px 0 0 black;
    }
}

@media screen and (max-width:1300px){
    .swiper {
    width: 100%;
    height: 300px;
    margin: 10px 0;
    }

    .swiper-slide > p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-size: 20px;
    text-shadow:2px 2px 0 black, -2px -2px 0 black,
                -2px 2px 0 black, 2px -2px 0 black,
                0px 2px 0 black,  0-2px 0 black,
                -2px 0 0 black, 2px 0 0 black;
    }
}
#slide_1 > p {
    color: white;
}

#slide_2 > p {
    color: gold;
}

#slide_3 > p {
    color:lightskyblue;
}