@charset "utf-8" ;

@media screen and (min-width:1300px){
    #common-footer {
        max-width: 100%;
        height: 70px;
        background-color: rgb(242,95,112);
    }

    #footer-wrap {
        max-width: 100%;
        height: 70px;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-copyright {
        margin: auto;
    }

    .mobile-footer {
        display: none;
    }
}

@media screen and (max-width:1300px){

    .mobile-footer {
        width: 100%;
        align-items: center;
        background-color: rgb(242,95,112);
    }

    .inner-block {
        padding: 10px 10px;
    }

    .footer-wrap {
        width: calc(100% + 20px);
        margin-left: -20px;
        margin-bottom: 0px;
    }

    .footer-btn-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding: 10px 0px;
    }

    .footer-wrap .footer-btn-wrap a {
        width: 25%;
    }

    .footer-wrap .footer-btn-wrap .home-btn {
        text-align: center;
    }

    .footer-wrap .footer-btn-wrap .mypage-btn {
        text-align: center;
    }

    .footer-wrap .footer-btn-wrap .cart-btn {
        text-align: center;
    }

    .footer-wrap .footer-btn-wrap .other-btn {
        text-align: center;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .cart-btn {
        position: relative;
    }

    .navCartIcon{
        position: absolute;
        top: 0%;
        right: 0%;
        transform : translate(-50%,-50%);
        width: 17px;
        height: 17px;
        font-size: 11px;
        border-radius: 9px;
        line-height: 17px;
        background: #c7004c;/*商品数〇色の指定 */
        color: #fff;/*商品数文字色の指定 */
    }

    .pc-footer {
        display: none;
    }

}